/* Tag/Type/Element selector */
P{
    background-color:lightcoral;
}

div, h2, h3{
    color:darkgreen;
}
BODY{
    background-color:lightgreen;
}

/*  ID selector : case sensitive */
#txtName{
    border-style:dashed;
}

/* Class selector : case sensitive */

.myClass{
  background-color:yellow;
}

.borderColoring{
    border-style:dotted;
    border-color:red;
    border-width:3px;
}