/* Tag/Type/Element selector */
P{
    background-color:lightcoral;
}

div, h2, h3{
    color:darkgreen;
}
BODY{
    background-color:lightgreen;
}

/*  ID selector : case sensitive */
#txtName{
    border-style:dashed;
}

/* Class selector : case sensitive */

.myClass{
  background-color:yellow;
}

.borderColoring{
    border-style:dotted;
    border-color:red;
    border-width:3px;
}

/* Child Selector */
div > p{
    background-color:lightcyan;
}

/* Descendent selector */
div p{
    border-style:solid;
}

/* Adjacent Sibling selector */
div+p{
    /* display:none; */
    background-color: bisque;
}

/* General sibling selector */
div~p{
    padding:10px;
}

/* Universal selector */
* {
    font-weight: bolder;
}